################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ElsaGuides.ContentApproval.MauiClient/obj
/ElsaGuides.ContentApproval.MauiClient
